.bg-img1 {
  /* background-color: #000;
  background-size: cover;
  background-image: url(images/1826335.jpg); */
}

.bg-img2 {
  /* background-color: #000;
  background-size: cover;
  background-image: url(images/2900103.jpg); */
}

.bg-img3 {
  /* background-color: #000;
  background-size: cover;
  background-image: url(images/3639497.jpg); */
}
